@font-face {
  font-family: "Verdana";
  src: url("../font/Verdana.ttf"); }
@font-face {
  font-family: "Verdana Bold";
  src: url("../font/Verdana%20Bold.ttf"); }
input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  display: none; }

* {
  font-family: "Verdana", sans-serif; }

html, body {
  font-size: 10px; }

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 64px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7); }
  header #yankee-candle-logo {
    width: 70px;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 8px; }

#device-or-cluster, #which-device, #control-panel {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  width: 100%; }

#device-select {
  width: 100%;
  z-index: 1;
  margin-top: 64px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  border-radius: 1px; }
  #device-select #device-or-cluster div.radio-group {
    height: 40px;
    flex: 1;
    -webkit-flex: 1;
    border-bottom: 1px solid #dddddd; }
    #device-select #device-or-cluster div.radio-group input[type=radio] + label {
      height: 40px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      line-height: 40px;
      font-family: "Verdana Bold", sans-serif;
      font-size: 1em;
      display: block;
      transition: all 0.6s; }
    #device-select #device-or-cluster div.radio-group input[type=radio]:checked + label {
      background-color: transparent; }
  #device-select #which-device div.radio-group {
    height: 60px;
    text-align: center;
    flex: 1;
    -webkit-flex: 1;
    position: relative; }
    #device-select #which-device div.radio-group label {
      display: block;
      height: 60px;
      width: 100%;
      border-bottom: 0 solid white;
      opacity: 0;
      transition: all 0.6s; }
    #device-select #which-device div.radio-group input[type=radio]:checked + label {
      opacity: 1;
      border-bottom: 5px solid white; }
    #device-select #which-device div.radio-group div.device-thumb {
      display: block;
      height: 32px;
      width: 32px;
      border-radius: 16px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: 14px;
      margin-left: -16px; }

#control-panel {
  height: 400px;
  width: 350px;
  margin: 20px auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  border-radius: 1px; }
  #control-panel > * {
    position: relative; }
  #control-panel h2 {
    font-size: 1em;
    font-family: "Verdana Bold", sans-serif;
    color: #bbb;
    position: absolute;
    top: 16px;
    left: 16px; }
  #control-panel #device-title {
    flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    height: 52px;
    background: grey; }
    #control-panel #device-title h1 {
      font-size: 2em;
      font-weight: 500;
      color: white;
      line-height: 52px;
      padding-left: 16px; }
  #control-panel #timer {
    flex: 1 1 67%;
    -webkit-flex: 1 1 67%;
    height: 174px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
  #control-panel #scent-strength {
    flex: 1 1 33%;
    -webkit-flex: 1 1 33%;
    height: 174px;
    border-bottom: 1px solid #dddddd; }
