@font-face {
    font-family: "Verdana";
    src: url('../font/Verdana.ttf');
}
@font-face {
    font-family: "Verdana Bold";
    src: url('../font/Verdana%20Bold.ttf');
}
$font-default: "Verdana", sans-serif;
$font-bold: "Verdana Bold", sans-serif;
$universal-shadow: 0 1px 2px 0 rgba(0,0,0,.5);

input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0;
    border: none;
    display: none;
}

*{
    font-family: $font-default;
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 10px;
}


$header-height: 72px;
    $yc-logo-width: 72px;

$choose-system-height: 40px;
$choose-device-height: 60px;
$device-thumb-size: 32px;

$control-panel-border: 1px solid #ddd;
$control-panel-height: 405px;
$control-panel-border-bottom: 5px;
$control-panel-padding: 16px;
    $device-title-height: 50px;
    $timer-height: 170px;
    $scent-height: 180px;




#master-bg{
    z-index: -999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
}



header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: $header-height;
    background: white;
    box-shadow: $universal-shadow;


    #yankee-candle-logo{
        width: $yc-logo-width;
        position: absolute;
        left: 50%;
        margin-left: - $yc-logo-width/2;
        bottom: 12px;
    }
}

#device-or-cluster, #which-device, #control-panel{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    width: 100%;
}

#device-select{
    width: 100%;
    z-index: 1;
    margin-top: $header-height;
    box-shadow: $universal-shadow;
    border-radius: 1px;
    background-color: #ffffff;

    #device-or-cluster{
        div.radio-group{
            height: $choose-system-height;
            flex: 1;
            -webkit-flex: 1;
            border-bottom: $control-panel-border;

            input[type=radio] + label{
                height: $choose-system-height;
                width: 100%;
                background-color: rgba(0,0,0,.2);
                text-align: center;
                line-height: $choose-system-height;
                font-family: $font-bold;
                font-size: 1em;
                display: block;
                transition: all 0.6s;
            }

            input[type=radio]:checked + label{
                background-color: rgba(0,0,0,0);
            }
        }
    }

    #which-device{
        div.radio-group{
            height: $choose-device-height;
            text-align: center;
            flex: 1;
            -webkit-flex: 1;
            position: relative;


            label{
                display: block;
                height: $choose-device-height;
                width: 100%;
                border-bottom: 0 solid white;
                opacity: 0;
                transition: all 0.6s;
            }

            input[type=radio]:checked + label{
                opacity: 1;
                border-bottom: 5px solid white;

            }


            div.device-thumb{
                display: block;
                height: $device-thumb-size;
                width: $device-thumb-size;
                border-radius: $device-thumb-size/2;


                position: absolute;
                top: 0;
                left: 50%;

                margin-top: 14px;
                margin-left: - $device-thumb-size/2;

                div.on-thumb{
                    height: $device-thumb-size - 10px;
                    width: $device-thumb-size - 10px;
                    border: 3px solid white;
                    border-radius: ($device-thumb-size - 10px)/2;
                    margin: (10px)/2;
                }

            }
        }
    }
}

#control-panel{
    height: 400px;
    width: 350px;
    margin: 20px auto;
    box-shadow: $universal-shadow;
    border-radius: 1px;
    border-bottom: 5px solid grey;
    background-color: white;

    &>*{
        position: relative;
    }

    h2{
        font-size: 1em;
        font-family: $font-bold;
        color: #bbb;
        position: absolute;
        top: $control-panel-padding;
        left: $control-panel-padding;
    }


    #device-title{

        h1{
            font-size: 2em;
            font-weight: 500;
            color: white;
            line-height: $device-title-height;
            padding-left: $control-panel-padding;
        }

        flex: 1 1 100%;
        -webkit-flex: 1 0 100%;
        height: $device-title-height;
        background: grey;


    }

    #timer{
        flex: 1 1 67%;
        -webkit-flex: 1 1 67%;
        height:$timer-height;
        border-bottom: $control-panel-border;
        border-right: $control-panel-border;
    }

    #scent-strength{
        flex: 1 1 33%;
        -webkit-flex: 1 1 33%;
        height: $timer-height;
        border-bottom: $control-panel-border;
    }

    .scent{
        flex: 1 1 33%;
        -webkit-flex: 1 1 33%;
        height: $scent-height;

        &:not(:first-child){
            border-left:  $control-panel-border;
        }

        .thumb{
            $scent-thumb-size: 16px;
            width: $scent-thumb-size;
            height: $scent-thumb-size;
            border-radius: $scent-thumb-size/2;
            margin: 28px auto 16px;
        }

        h3{
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 24px;
        }

        .remaining{
            $remaining-height: 8px;
            background-color: #dedede;

            height: $remaining-height;
            width: 80%;
            margin: 0 auto;
            border-radius: $remaining-height/2;

            span{
                display: block;
                height: $remaining-height;
                border-radius: $remaining-height/2;

            }
        }

        button{
            display: block;
            height: 27px;
            width: 84px;
            border-radius: 0;
            border: 1px solid grey;
            color: grey;
            line-height: 27px;
            text-align: center;
            background: none;
            margin: 16px auto;
        }


        @mixin scent-style($name, $color){
            .thumb{ background: url('../img/scent_thumb/' + $name + '.jpg'); }
            h3{  color: $color; }
            .remaining span{ background-color: $color; }
        }

        &.orange { @include scent-style('orange', orange)};
        &.peppermint { @include scent-style('peppermint', #92ec5d) };
        &.lavender { @include scent-style('lavender', #b25fec) };
        
        label{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        input[type=radio]:checked + label:after{
            content: 'ON';
            position: absolute;
            bottom: $control-panel-padding;
            color: #bbb;
            right: $control-panel-padding;
        }

    }




}

